@media only screen and (min-width: 1035px) {
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-13,
  .col-xl-14,
  .col-xl-15,
  .col-xl-16,
  .col-xl-17,
  .col-xl-18,
  .col-xl-19,
  .col-xl-20,
  .col-xl-21,
  .col-xl-22,
  .col-xl-23,
  .col-xl-24 {
    float: left;
  }

  .col-xl-1 {
    width: 4.16667%;
  }

  .col-xl-2 {
    width: 8.33333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.66667%;
  }

  .col-xl-5 {
    width: 20.83333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.16667%;
  }

  .col-xl-8 {
    width: 33.33333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.66667%;
  }

  .col-xl-11 {
    width: 45.83333%;
  }

  .col-xl-12 {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.16667%;
  }

  .col-xl-14 {
    width: 58.33333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.66667%;
  }

  .col-xl-17 {
    width: 70.83333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.16667%;
  }

  .col-xl-20 {
    width: 83.33333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.66667%;
  }

  .col-xl-23 {
    width: 95.83333%;
  }

  .col-xl-24 {
    width: 100%;
  }

  .col-xl-pull-0 {
    right: auto;
  }

  .col-xl-pull-1 {
    right: 4.16667%;
  }

  .col-xl-pull-2 {
    right: 8.33333%;
  }

  .col-xl-pull-3 {
    right: 12.5%;
  }

  .col-xl-pull-4 {
    right: 16.66667%;
  }

  .col-xl-pull-5 {
    right: 20.83333%;
  }

  .col-xl-pull-6 {
    right: 25%;
  }

  .col-xl-pull-7 {
    right: 29.16667%;
  }

  .col-xl-pull-8 {
    right: 33.33333%;
  }

  .col-xl-pull-9 {
    right: 37.5%;
  }

  .col-xl-pull-10 {
    right: 41.66667%;
  }

  .col-xl-pull-11 {
    right: 45.83333%;
  }

  .col-xl-pull-12 {
    right: 50%;
  }

  .col-xl-pull-13 {
    right: 54.16667%;
  }

  .col-xl-pull-14 {
    right: 58.33333%;
  }

  .col-xl-pull-15 {
    right: 62.5%;
  }

  .col-xl-pull-16 {
    right: 66.66667%;
  }

  .col-xl-pull-17 {
    right: 70.83333%;
  }

  .col-xl-pull-18 {
    right: 75%;
  }

  .col-xl-pull-19 {
    right: 79.16667%;
  }

  .col-xl-pull-20 {
    right: 83.33333%;
  }

  .col-xl-pull-21 {
    right: 87.5%;
  }

  .col-xl-pull-22 {
    right: 91.66667%;
  }

  .col-xl-pull-23 {
    right: 95.83333%;
  }

  .col-xl-pull-24 {
    right: 100%;
  }

  .col-xl-push-0 {
    left: auto;
  }

  .col-xl-push-1 {
    left: 4.16667%;
  }

  .col-xl-push-2 {
    left: 8.33333%;
  }

  .col-xl-push-3 {
    left: 12.5%;
  }

  .col-xl-push-4 {
    left: 16.66667%;
  }

  .col-xl-push-5 {
    left: 20.83333%;
  }

  .col-xl-push-6 {
    left: 25%;
  }

  .col-xl-push-7 {
    left: 29.16667%;
  }

  .col-xl-push-8 {
    left: 33.33333%;
  }

  .col-xl-push-9 {
    left: 37.5%;
  }

  .col-xl-push-10 {
    left: 41.66667%;
  }

  .col-xl-push-11 {
    left: 45.83333%;
  }

  .col-xl-push-12 {
    left: 50%;
  }

  .col-xl-push-13 {
    left: 54.16667%;
  }

  .col-xl-push-14 {
    left: 58.33333%;
  }

  .col-xl-push-15 {
    left: 62.5%;
  }

  .col-xl-push-16 {
    left: 66.66667%;
  }

  .col-xl-push-17 {
    left: 70.83333%;
  }

  .col-xl-push-18 {
    left: 75%;
  }

  .col-xl-push-19 {
    left: 79.16667%;
  }

  .col-xl-push-20 {
    left: 83.33333%;
  }

  .col-xl-push-21 {
    left: 87.5%;
  }

  .col-xl-push-22 {
    left: 91.66667%;
  }

  .col-xl-push-23 {
    left: 95.83333%;
  }

  .col-xl-push-24 {
    left: 100%;
  }

  .col-xl-offset-0 {
    margin-left: 0%;
  }

  .col-xl-offset-1 {
    margin-left: 4.16667%;
  }

  .col-xl-offset-2 {
    margin-left: 8.33333%;
  }

  .col-xl-offset-3 {
    margin-left: 12.5%;
  }

  .col-xl-offset-4 {
    margin-left: 16.66667%;
  }

  .col-xl-offset-5 {
    margin-left: 20.83333%;
  }

  .col-xl-offset-6 {
    margin-left: 25%;
  }

  .col-xl-offset-7 {
    margin-left: 29.16667%;
  }

  .col-xl-offset-8 {
    margin-left: 33.33333%;
  }

  .col-xl-offset-9 {
    margin-left: 37.5%;
  }

  .col-xl-offset-10 {
    margin-left: 41.66667%;
  }

  .col-xl-offset-11 {
    margin-left: 45.83333%;
  }

  .col-xl-offset-12 {
    margin-left: 50%;
  }

  .col-xl-offset-13 {
    margin-left: 54.16667%;
  }

  .col-xl-offset-14 {
    margin-left: 58.33333%;
  }

  .col-xl-offset-15 {
    margin-left: 62.5%;
  }

  .col-xl-offset-16 {
    margin-left: 66.66667%;
  }

  .col-xl-offset-17 {
    margin-left: 70.83333%;
  }

  .col-xl-offset-18 {
    margin-left: 75%;
  }

  .col-xl-offset-19 {
    margin-left: 79.16667%;
  }

  .col-xl-offset-20 {
    margin-left: 83.33333%;
  }

  .col-xl-offset-21 {
    margin-left: 87.5%;
  }

  .col-xl-offset-22 {
    margin-left: 91.66667%;
  }

  .col-xl-offset-23 {
    margin-left: 95.83333%;
  }

  .col-xl-offset-24 {
    margin-left: 100%;
  }

  .children {
    position: absolute;
  }

  #search-form {
    left: -1px;
  }

  #container,
  .container-multiple {
    width: 1035px;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl-13,
  .col-xxl-14,
  .col-xxl-15,
  .col-xxl-16,
  .col-xxl-17,
  .col-xxl-18,
  .col-xxl-19,
  .col-xxl-20,
  .col-xxl-21,
  .col-xxl-22,
  .col-xxl-23,
  .col-xxl-24 {
    float: left;
  }

  .col-xxl-1 {
    width: 4.16667%;
  }

  .col-xxl-2 {
    width: 8.33333%;
  }

  .col-xxl-3 {
    width: 12.5%;
  }

  .col-xxl-4 {
    width: 16.66667%;
  }

  .col-xxl-5 {
    width: 20.83333%;
  }

  .col-xxl-6 {
    width: 25%;
  }

  .col-xxl-7 {
    width: 29.16667%;
  }

  .col-xxl-8 {
    width: 33.33333%;
  }

  .col-xxl-9 {
    width: 37.5%;
  }

  .col-xxl-10 {
    width: 41.66667%;
  }

  .col-xxl-11 {
    width: 45.83333%;
  }

  .col-xxl-12 {
    width: 50%;
  }

  .col-xxl-13 {
    width: 54.16667%;
  }

  .col-xxl-14 {
    width: 58.33333%;
  }

  .col-xxl-15 {
    width: 62.5%;
  }

  .col-xxl-16 {
    width: 66.66667%;
  }

  .col-xxl-17 {
    width: 70.83333%;
  }

  .col-xxl-18 {
    width: 75%;
  }

  .col-xxl-19 {
    width: 79.16667%;
  }

  .col-xxl-20 {
    width: 83.33333%;
  }

  .col-xxl-21 {
    width: 87.5%;
  }

  .col-xxl-22 {
    width: 91.66667%;
  }

  .col-xxl-23 {
    width: 95.83333%;
  }

  .col-xxl-24 {
    width: 100%;
  }

  .col-xxl-pull-0 {
    right: auto;
  }

  .col-xxl-pull-1 {
    right: 4.16667%;
  }

  .col-xxl-pull-2 {
    right: 8.33333%;
  }

  .col-xxl-pull-3 {
    right: 12.5%;
  }

  .col-xxl-pull-4 {
    right: 16.66667%;
  }

  .col-xxl-pull-5 {
    right: 20.83333%;
  }

  .col-xxl-pull-6 {
    right: 25%;
  }

  .col-xxl-pull-7 {
    right: 29.16667%;
  }

  .col-xxl-pull-8 {
    right: 33.33333%;
  }

  .col-xxl-pull-9 {
    right: 37.5%;
  }

  .col-xxl-pull-10 {
    right: 41.66667%;
  }

  .col-xxl-pull-11 {
    right: 45.83333%;
  }

  .col-xxl-pull-12 {
    right: 50%;
  }

  .col-xxl-pull-13 {
    right: 54.16667%;
  }

  .col-xxl-pull-14 {
    right: 58.33333%;
  }

  .col-xxl-pull-15 {
    right: 62.5%;
  }

  .col-xxl-pull-16 {
    right: 66.66667%;
  }

  .col-xxl-pull-17 {
    right: 70.83333%;
  }

  .col-xxl-pull-18 {
    right: 75%;
  }

  .col-xxl-pull-19 {
    right: 79.16667%;
  }

  .col-xxl-pull-20 {
    right: 83.33333%;
  }

  .col-xxl-pull-21 {
    right: 87.5%;
  }

  .col-xxl-pull-22 {
    right: 91.66667%;
  }

  .col-xxl-pull-23 {
    right: 95.83333%;
  }

  .col-xxl-pull-24 {
    right: 100%;
  }

  .col-xxl-push-0 {
    left: auto;
  }

  .col-xxl-push-1 {
    left: 4.16667%;
  }

  .col-xxl-push-2 {
    left: 8.33333%;
  }

  .col-xxl-push-3 {
    left: 12.5%;
  }

  .col-xxl-push-4 {
    left: 16.66667%;
  }

  .col-xxl-push-5 {
    left: 20.83333%;
  }

  .col-xxl-push-6 {
    left: 25%;
  }

  .col-xxl-push-7 {
    left: 29.16667%;
  }

  .col-xxl-push-8 {
    left: 33.33333%;
  }

  .col-xxl-push-9 {
    left: 37.5%;
  }

  .col-xxl-push-10 {
    left: 41.66667%;
  }

  .col-xxl-push-11 {
    left: 45.83333%;
  }

  .col-xxl-push-12 {
    left: 50%;
  }

  .col-xxl-push-13 {
    left: 54.16667%;
  }

  .col-xxl-push-14 {
    left: 58.33333%;
  }

  .col-xxl-push-15 {
    left: 62.5%;
  }

  .col-xxl-push-16 {
    left: 66.66667%;
  }

  .col-xxl-push-17 {
    left: 70.83333%;
  }

  .col-xxl-push-18 {
    left: 75%;
  }

  .col-xxl-push-19 {
    left: 79.16667%;
  }

  .col-xxl-push-20 {
    left: 83.33333%;
  }

  .col-xxl-push-21 {
    left: 87.5%;
  }

  .col-xxl-push-22 {
    left: 91.66667%;
  }

  .col-xxl-push-23 {
    left: 95.83333%;
  }

  .col-xxl-push-24 {
    left: 100%;
  }

  .col-xxl-offset-0 {
    margin-left: 0%;
  }

  .col-xxl-offset-1 {
    margin-left: 4.16667%;
  }

  .col-xxl-offset-2 {
    margin-left: 8.33333%;
  }

  .col-xxl-offset-3 {
    margin-left: 12.5%;
  }

  .col-xxl-offset-4 {
    margin-left: 16.66667%;
  }

  .col-xxl-offset-5 {
    margin-left: 20.83333%;
  }

  .col-xxl-offset-6 {
    margin-left: 25%;
  }

  .col-xxl-offset-7 {
    margin-left: 29.16667%;
  }

  .col-xxl-offset-8 {
    margin-left: 33.33333%;
  }

  .col-xxl-offset-9 {
    margin-left: 37.5%;
  }

  .col-xxl-offset-10 {
    margin-left: 41.66667%;
  }

  .col-xxl-offset-11 {
    margin-left: 45.83333%;
  }

  .col-xxl-offset-12 {
    margin-left: 50%;
  }

  .col-xxl-offset-13 {
    margin-left: 54.16667%;
  }

  .col-xxl-offset-14 {
    margin-left: 58.33333%;
  }

  .col-xxl-offset-15 {
    margin-left: 62.5%;
  }

  .col-xxl-offset-16 {
    margin-left: 66.66667%;
  }

  .col-xxl-offset-17 {
    margin-left: 70.83333%;
  }

  .col-xxl-offset-18 {
    margin-left: 75%;
  }

  .col-xxl-offset-19 {
    margin-left: 79.16667%;
  }

  .col-xxl-offset-20 {
    margin-left: 83.33333%;
  }

  .col-xxl-offset-21 {
    margin-left: 87.5%;
  }

  .col-xxl-offset-22 {
    margin-left: 91.66667%;
  }

  .col-xxl-offset-23 {
    margin-left: 95.83333%;
  }

  .col-xxl-offset-24 {
    margin-left: 100%;
  }

  #container,
  .container-multiple {
    width: 1200px;
  }
}

@font-face {
  font-family: "ff-meta-web";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/metasans/MetaWeb-Light.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/metasans/MetaWeb-Normal.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/metasans/MetaWeb-Book.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/metasans/MetaWeb-Medium.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/metasans/MetaWeb-Bold.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/metasans/MetaWeb-LightIta.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/metasans/MetaWeb-NormalIta.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/metasans/MetaWeb-BookIta.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/metasans/MetaWeb-MediumIta.woff?city20150610") format("woff");
}

@font-face {
  font-family: "ff-meta-web";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/metasans/MetaWeb-BoldIta.woff?city20150610") format("woff");
}

.conference-listing {
  margin-left: 0;
}

.conference-listing .conference-listing__card {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1em;
}

.conference-listing .conference-listing__card:last-of-type {
  margin-bottom: 0;
}

.conference-listing .conference-listing__anchor {
  background-color: #f2f2f2;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em;
}

.conference-listing .conference-listing__anchor:focus .conference-listing__heading {
  color: #b02a1a;
}

.conference-listing .conference-listing__anchor:focus .conference-listing__heading span {
  border-bottom: 2px solid #b02a1a;
}

.conference-listing .conference-listing__anchor:focus,
.conference-listing .conference-listing__anchor:active {
  outline: 2px dotted #444444;
  outline-offset: 3px;
}

.conference-listing .conference-listing__anchor:active {
  outline-offset: 0;
}

.conference-listing .conference-listing__anchor:hover .conference-listing__heading,
.conference-listing .conference-listing__anchor:active .conference-listing__heading {
  color: #ef383f;
}

.conference-listing .conference-listing__anchor:hover .conference-listing__heading span,
.conference-listing .conference-listing__anchor:active .conference-listing__heading span {
  border-bottom: 2px solid #ef383f;
}

.conference-listing .conference-listing__anchor .conference-listing__date,
.conference-listing .conference-listing__anchor .conference-listing__description {
  color: #444444;
}

.conference-listing .conference-listing__image {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.conference-listing .conference-listing__image img {
  height: auto;
  width: auto;
}

.conference-listing .conference-listing__details {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.conference-listing .conference-listing__image + .conference-listing__details {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  margin-left: 1em;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }

  p {
    clear: left;
  }

  h2,
  h3,
  table,
  figure,
  img {
    page-break-after: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  img {
    max-width: 100% !important;
  }

  img.left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  img.right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  thead {
    display: table-header-group;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  #header a,
  #header
    a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .hidden,
  #global-nav,
  #search,
  #login-opener,
  #login_form_login_prompt,
  #site-home,
  #primary-nav,
  #primary-breadcrumb,
  #breadcrumb,
  #secondary-nav,
  #sidebar,
  #footer,
  #courses-form,
  #news-form,
  #events-form,
  #filter,
  .ui-tabs-nav,
  .date,
  .sign-up,
  #promo-wrapper,
  .noprint,
  #cross-domain,
  #mast-1,
  #util-nav,
  #primary-nav-toggler,
  #slice-navigation,
  #global-nav-toggler,
  #intranet .footer {
    display: none;
  }

  #header #logo a,
  #header #logo a span,
  #header #global-nav-1 {
    display: none !important;
  }

  .ui-accordion-content {
    display: block !important;
  }

  #intranet h1 {
    font-size: 2.1em;
  }

  #intranet .footer2016,
  #intranet .primary-menu-wrapper,
  #intranet .header__search__toggle,
  #intranet .global-nav__wrapper {
    display: none !important;
  }
}

iframe[src*='prezi'],
iframe[src*='issuu'] {
  display: none !important;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLink,
#CybotCookiebotDialogDetail a {
  border-bottom: none;
  -webkit-transition: none;
  transition: none;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLink:focus,
#CybotCookiebotDialogDetail a:focus {
  background-color: unset;
}