@media print {
  * {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }

  p {
    clear: left;
  }

  figure,
  h2,
  h3,
  img,
  table {
    page-break-after: avoid;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  img {
    max-width: 100%!important;
  }

  img.left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  img.right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  thead {
    display: table-header-group;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  #header a,
  #header a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  #breadcrumb,
  #courses-form,
  #cross-domain,
  #events-form,
  #filter,
  #footer,
  #global-nav,
  #global-nav-toggler,
  #intranet .footer,
  #login-opener,
  #login_form_login_prompt,
  #mast-1,
  #news-form,
  #primary-breadcrumb,
  #primary-nav,
  #primary-nav-toggler,
  #promo-wrapper,
  #search,
  #secondary-nav,
  #sidebar,
  #site-home,
  #slice-navigation,
  #util-nav,
  .date,
  .hidden,
  .noprint,
  .sign-up,
  .ui-tabs-nav {
    display: none;
  }

  #header #global-nav-1,
  #header #logo a,
  #header #logo a span {
    display: none!important;
  }

  .ui-accordion-content {
    display: block!important;
  }

  #intranet h1 {
    font-size: 2.1em;
  }

  #intranet .footer2016,
  #intranet .global-nav__wrapper,
  #intranet .header__search__toggle,
  #intranet .primary-menu-wrapper {
    display: none!important;
  }
}

iframe[src*=prezi],
iframe[src*=issuu] {
  display: none!important;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLink,
#CybotCookiebotDialogDetail a {
  border-bottom: none;
  -webkit-transition: none;
  transition: none;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLink:focus,
#CybotCookiebotDialogDetail a:focus {
  background-color: unset;
}