.home .image-banner#promo-wrapper .banner .line-m-w {
  padding-top: 150px;
  text-align: center;
}

.home .image-banner#promo-wrapper .banner .line-m-c {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.home .image-banner#promo-wrapper .banner .line-m-s {
  position: relative;
  padding-top: 35%;
  -webkit-transition: padding-top 0.2s ease;
  transition: padding-top 0.2s ease;
}

.home .image-banner#promo-wrapper .banner .line-m-s img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.home .image-banner#promo-wrapper .banner .line-m {
  margin-top: 20px;
  width: 400px;
  max-width: 100%;
}

.home .image-banner#promo-wrapper .banner .banner-toggle {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  background: #3e1031;
  color: white;
  cursor: pointer;
  display: none;
}

.home .image-banner#promo-wrapper .banner .banner-toggle i {
  line-height: 30px;
}

.home .image-banner#promo-wrapper .banner .banner-toggle .fa-angle-up {
  display: none;
}

.home .image-banner#promo-wrapper .banner.open .banner-toggle .fa-angle-down {
  display: none;
}

.home .image-banner#promo-wrapper .banner.open .banner-toggle .fa-angle-up {
  display: block;
}

.home .image-banner#promo-wrapper .banner.open .line-m-s {
  padding-top: 123%;
}

.home .image-banner#promo-wrapper .banner .line-d-w {
  float: right;
  width: 460px;
  width: 625px;
  padding-top: 15px;
}

.home .image-banner#promo-wrapper .banner .line-d-w img {
  margin: 0;
  width: 100%;
}

.home #slice-navigation {
  display: none;
}

.white-box--cards-intro {
  background-color: #3e1031;
  color: #FFFFFF;
}

.white-box--cards-intro h2 {
  font-weight: 300;
}

.white-box--cards-intro h2 b {
  font-weight: 700;
}

.lt-ie9 .tube-map-svg {
  display: none;
}

.lt-ie9 .tube-map-img {
  display: block;
}

.lt-ie9 .featured-stops-static {
  display: block;
}